
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-12">
      <h1>Surveys</h1>
      <a routerLink="/survey-list/add" class="btn btn-outline-primary" role="button">
        <i class="fa fa-plus-circle"></i>
        Add Survey
      </a>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!-- Header Row-->
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>

        <!-- Repeatable Template Row -->
        <tr *ngFor="let survey of surveys">
          <td class="text-center">{{ survey.name }}</td>
          <td class="text-center">{{ survey.description }}</td>
          <td class="text-center">
            <a routerLink="/survey-list/{{ survey._id }}" class="btn btn-outline-primary"
              ><i class="fas fa-pencil-alt"></i>
              Edit
            </a>
          </td>
          <td class="text-center">
            <a routerLink="/survey-list/delete/{{ survey._id }}" (click)="onDeleteClick()" class="btn btn-outline-danger"
              ><i class="fas fa-trash"></i>
              Delete
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
